{% load static %}
 


 <!-- footer start -->

 <div class="footer">

    <div class="main-footer">

        <div class="first_column">

          <h3 class="stay__inform">HOSTING</h3><br>

          <p><a class="new___link___style" href="#">Business Email</a></p>

          <p><a class="new___link___style" href="#">Reseller Hosting</a></p>

          <p><a class="new___link___style" href="#">Windows Hosting</a></p>

          <p><a class="new___link___style" href="#">Hosting Migration</a></p>

        </div>

        <div class="first_column">

          <h3 class="stay__inform">SERVER</h3><br>

          <p><a class="new___link___style" href="#">RDP</a></p>

          <p><a class="new___link___style" href="#">VPS Server</a></p>

          <p><a class="new___link___style" href="#">DOMAIN</a></p>

          <p><a class="new___link___style" href="#">Domain Transfer</a></p>

          <p><a class="new___link___style" href="#">Domain Registration</a></p>

        </div>

      <div class="first_column">

        <h3 class="stay__inform">CONTACT</h3><br>

        <p><a class="new___link___style" href="#">Contact us</a></p>
        <p><a class="new___link___style" href="{% url 'support' %}">Support Portal</a></p>
      </div>
      <div class="first_column">

        <h3 class="stay__inform">COMPANY</h3><br>

        <p><a class="new___link___style" href="#">About Us</a></p>

        <p><a class="new___link___style" href="#">Terms of Service</a></p>

      </div>

    </div>

    <div class="footer-bottom">

      <p>Copyright 2021 ITNA GLOBAL | All Rights Reserved.</p>

    </div>
  




  </div>

  <!-- footer end -->