{% load static %} {% include 'adminpanel/sidebar.html' %}
<link rel="stylesheet" href="{% static 'css/admin-panel/admin-panel.css' %}" />
<link rel="stylesheet" href="{% static 'css/admin-panel/orders.css' %}" />
<link rel="stylesheet" href="{% static 'css/admin-panel/department.css' %}" />

<!-- main edit content start -->
<div class="edit_______div container">
  <form>
    <p class="fw-bold">Department Name:</p>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="inventory"
        aria-label="Example text with button addon"
        aria-describedby="button-addon1"
      />
    </div>
    <p class="mt-3 fw-bold">Department Description:</p>
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="floatingTextarea2"
        style="height: 100px"
      ></textarea>
      <label for="floatingTextarea2">Input Description</label>
    </div>
    <div class="form-check mt-3">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexCheckChecked">is ACTIVE </label>
    </div>
    <div class="mt-3">
        <button class="done____btn">Done</button>
    <button class="done____btn">Cancel</button>
    </div>
  </form>
</div>
<!-- main edit content end -->
