{% load static %} {% include 'adminpanel/sidebar.html' %}
<link rel="stylesheet" href="{% static 'css/admin-panel/admin-panel.css' %}" />
<link rel="stylesheet" href="{% static 'css/admin-panel/orders.css' %}" />
<link rel="stylesheet" href="{% static 'css/admin-panel/department.css' %}" />

<script src="{% static 'js/admin-panel/categoryHome.js' %}" defer></script>

<!-- search content start -->
<div class="main____search________content">
  <div class="search_____content me-1 mt-2">
    <form>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search By Name....."
          aria-label=""
          aria-describedby="basic-addon1"
          onkeyup="matchCatName(this)"
        />
        <div class="input-group-prepend">
          <button class="btn search_____btn" type="button">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="me-1 mt-2">
    <!-- Example split danger button -->
    <div class="btn-group">
      <a href="{% url 'create-category' shop_id.id %}" type="button" class="btn new____dept text-white">
        New Category
      </a>
      <button
        type="button"
        class="btn dropdown-toggle dropdown-toggle-split new____dept"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu new____dept">
        <li><a class="dropdown-item text-white" href="{% url 'create-department-category' %}">New Department</a></li>
        <li><a class="dropdown-item text-white" href="{% url 'create-item' %}">New Item</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- search content end -->

<!-- department table start -->
<div class="main____dept____table table-responsive">
  <table class="table">
    <thead class="table_____head">
      <tr>
        <th scope="col">Category Name</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="catgory__table">
      {% if category %}
      {% for c in category %}
      <tr>
        <td class="category__data"><a href="{% url 'edit-category' shop_id.id c.id %}" class="w-100 d-flex text-dark category__name">{{ c.category_name }}</a></td>
        <td class="d-flex align-items-center">
          <a href="{% url 'edit-category' shop_id.id c.id %}" class="w-100 d-flex text-dark">Active</a>
          <form method="POST" action="{% url 'admin-delete-category' shop_id.id c.id %}">
            {% csrf_token %}
            <button class="border-0 bg-white" type="submit"><span
                class="iconify cross___icon"
                data-icon="emojione:cross-mark"
              ></span></button>
          </form>
        </td>
      </tr>
      {% endfor %}
      {% else %}No Category Added{% endif %}
    </tbody>
  </table>
</div>
<!-- department table end -->
