{% extends "landing/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/saas/packageDetail.css' %}">

<div class="container my-4">
    <a class="text-dark" href="{% url 'landing' %}">&#x2190; Back To Home</a>
</div>

<div class="main____user___details___div">

    <div class="individual_____div">
        <p class="fw-bold fs-3">User Package Details<p>
        <p><span class="fw-bold">User Name:</span> {{ package_checkout_obj.customer_name }}</p>
        <p><span class="fw-bold">User Email:</span> {{ package_checkout_obj.customer_obj.email }}</p>
        <p><span class="fw-bold">Package Type:</span> {{ package_checkout_obj.package.package_name }}</p>
        <p><span class="fw-bold">Duration:</span> {% widthratio package_checkout_obj.package.duration 30 1 %} Month(s)</p>
        <p><span class="fw-bold">End Date:</span> {{ package_checkout_obj.due_date }}</p>
        {% if not package_checkout_obj.is_expired %}
            <section class="mt-3">
                <a href="{% url 'admin-home' package_checkout_obj.shop.id %}" type="submit" class="text-uppercase package__buyBtn text-center">Go To Admin Panel <span class="iconify" data-icon="bi:arrow-right" data-width="20"></span></a>
            </section>
        {% endif %}
    </div>  

</div>




{% endblock %}