.restaurant__leftMiddleBottomSection{
    display: none !important;
}
.restaurant__walkIn, .restaurant__clearUser, .restaurant__productSearchField, .restaurant__rightBottom{
    display: none !important;
}
.restaurant__rightNavbar{
    padding-top: 2.8rem !important;
}
.restaurant__rightContent {
    position: absolute;
    left: 0;
    top: 10%;
}

/* table start */
.table____div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    height: 10rem;
}
.table____div p{
    text-align: center;
}
.main____table____div{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1115px){
    .table____div{
        width: 20%;
    }
}
@media (max-width: 750px){
    .table____div{
        width: 25%;
    }
}
@media (max-width: 550px){
    .table____div{
        width: 30%;
    }
}
@media (max-width: 450px){
    .table____div{
        width: 100%;
    }
}