/* Restaurant right content starts */
.restaurant__rightContent {
  position: fixed;
  top: 0;
  left: 40%;
  width: 60%;
  height: 100%;
}

/* Restaurant right navbar section starts */
.restaurant__rightNavbar {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: var(--blue-primary);
}

.restaurant__productSearchField {
  width: 20rem;
  border-radius: 5px;
  padding: 3px 6px;
}

.restaurant__productSearchField > input {
  outline: none;
  border: none;
}

.restaurant__productSearchField > svg {
  font-size: 1.5rem;
}
/* Restaurant right navbar section starts */

/* Restaurant right content middle section starts */
.restaurant__rightProductCard {
  width: 12rem;
}

.restaurant__categoryProductSection {
  gap: 0.5rem;
}

.restaurant__categoryProductForm {
  transition: box-shadow 0.2s ease-in-out;
}

.restaurant__categoryProductForm:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.restaurant__rightCatProduct {
  position: relative;
}

.restaurant__rightCatProduct > div:last-child {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.restaurant__rightCatProdutImg {
  width: 100%;
  height: 5rem;
}

.restaurant__rightCatProdutImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant__rightMiddleContent {
  overflow-x: hidden;
  overflow-y: auto;
}
/* Restaurant right content middle section ends */

/* Restaurant right content bottom section starts */
.restaurant__rightBottom {
  padding-bottom: 3.5rem;
}

.restaurant__rightBottom > a,
.restaurant__rightBottom > button {
  flex: 1;
}

.restaurant__rightBottom > a:active,
.restaurant__rightBottom > button:active {
  background-color: var(--background-primary) !important;
}
/* Restaurant right content bottom section ends */

/* Restaurant right content ends */

/* Responsive section */
