{% extends "restaurant/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/restaurant/orderDetails.css' %}" />

<script src="{% static 'js/restaurant/orderDetails.js' %}" defer></script>

<section id="restaurant__orderDetailContent">
    {% comment %} Restaurant order details header section starts {% endcomment %}
    <div id="restaurant__orderDetailsHeader" class="d-flex justify-content-between align-items-center px-3">
        <section>
            <a href="{% url 'restaurant-all-payments' shopId.id %}" class="text-white">
                <span class="iconify" data-icon="ic:baseline-arrow-back-ios-new"></span> Back
            </a>
        </section>
        <section class="restaurant__allOrdersHeaderTitle">
            <h5 class="text-white fw-bold">Order #{{ order_details.id }}</h5>
        </section>

        {% comment %}This is a hidden layer section starts{% endcomment %}
        <section>
        </section>
        {% comment %}This is a hidden layer section ends{% endcomment %}
    </div>
    {% comment %} Restaurant order details header section ends {% endcomment %}

    {% comment %}Restaurant order details left section starts{% endcomment %}
    <div class="d-flex">
        <div class="restaurant__orderDetailsLeftSection w-25 bg-white">
            <section class="border-bottom border-1 py-3 border-muted px-3">
                <div>
                    <p class="text-muted">Store</p>
                    <h5 class="fw-bold">Itna Store</h5>
                </div>
                <div>
                    <p class="text-muted">Order ID</p>
                    <h5 class="fw-bold">#{{ order_details.id }}</h5>
                </div>
                <div>
                    <p class="text-muted">Customer</p>
                    <p class="fw-bold">{{ order_details.customer.customer_name }}</p>
                </div>
                <div>
                    <p class="text-muted">Order Date</p>
                    <p class="fw-bold">{{ order_details.created_at }}</p>
                </div>
            </section>

            <section class="border-bottom border-1 py-3 border-muted px-3">
                <div class="d-flex justify-content-between align-items-center">
                    <section>
                        <p class="text-muted">Customer</p>
                        <p class="fw-bold">{% if order_details.status %}PAID{% else %}UNPAID{% endif %}</p>
                    </section>
                    {% if order_details.status == "PAID" %}
                        <section>
                            <span class="iconify fs-5" data-icon="teenyicons:tick-circle-solid" style="color: #4ec274;"></span>
                        </section>
                        {% else %}
                        <section>
                            <span class="iconify fs-4 text-danger" data-icon="entypo:circle-with-cross" style="color: #4ec274;"></span>
                        </section>
                    {% endif %}
                </div>
                <div>
                    <p class="text-muted">Tender Type</p>
                    <p class="fw-bold">Cash</p>
                </div>
            </section>

            <section class="border-bottom border-1 py-3 border-muted px-3">
                <div>
                    <section class="d-flex justify-content-between align-items-center">
                        <p class="text-muted">Subtotal</p>
                        <p class="fw-bold">${{ order_details.grand_total }}</p>
                    </section>
                    {% comment %}
                    <section class="d-flex justify-content-between align-items-center">
                        <p class="text-muted">Tax</p>
                        <p class="fw-bold">$0</p>
                    </section>
                    {% endcomment %}
                    <section class="d-flex justify-content-between align-items-center border-top border-muted border-1 pt-3">
                        <h5 class="fw-bold text-primary">Total</h5>
                        <h5 class="fw-bold">${{ order_details.grand_total }}</h5>
                    </section>
                </div>
            </section>

            <section class="restaurant__orderPrintBtn d-flex justify-content-center px-3 pt-3">
                <a href="{% url 'restaurant-receipt' shopId.id order_details.id %}" class="w-100">
                    <button class="fw-bold">Print Receipt</button>
                </a>
            </section>
        </div>
        {% comment %}Restaurant order details left section ends{% endcomment %}

        {% comment %}Restaurant order details right section starts{% endcomment %}
        <div class="restaurant__orderDetaislRightSection w-100">
            <section class="d-flex flex-column justify-content-between h-100">
                <div>
                    <section class="table-responsive h-100">
                        <table class="table">
                            <thead class="table-dark restaurant__orderDetailsTableHeader">
                            <tr>
                                <th scope="col" colspan="2">Product</th>
                                <th scope="col">Transaction Type</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Total Sales</th>
                            </tr>
                            </thead>
                            <tbody class="restaurant__orderDetailsTableBody">
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1</td>
                                    <td>Mark Test</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </section>
        </div>
        {% comment %}Restaurant order details right section ends{% endcomment %}
    </div>

</section>
{% endblock %}