{% load static %}

<link rel="stylesheet" href="{% static 'css/restaurant/sidebar.css' %}" />

<script src="{% static 'js/restaurant/sidebar.js' %}" defer></script>

<div class="restaurant__overlay w-100 h-100"></div>

<div id="restaurant__sidebar">
    {% comment %} Restaurant sidebar top section starts {% endcomment %}
    <section class="d-flex align-items-center p-3 restaurant__sidebarTopSection bg-primary">
        <div class="me-2 close__restaurant__sidebar">
            <span class="iconify text-white" data-icon="ant-design:left-outlined"></span>
        </div>
        <h5 class="fw-bold text-white">Itna Pos Software</h5>
    </section>
    {% comment %} Restaurant sidebar top section ends {% endcomment %}

    {% comment %} Restaurant sidebar bottom section starts {% endcomment %}
    <section class="restaurant__sidebarBottomSection">
        <div class="py-2 border-bottom border-muted">
            <p class="px-3 text-white"><span class="fw-bold">Account ID: </span>121827</p>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="{% url "open-restaurant" shopId.id %}">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="clarity:shopping-cart-solid"></span> POS
                </p>
            </a>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="#">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="fluent:box-16-filled"></span> Orders
                </p>
            </a>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="#">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="clarity:shopping-cart-solid"></span> Manual Refund
                </p>
            </a>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="{% url "get_table_page" shopId.id %}">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="ant-design:table-outlined"></span> Available Tables
                </p>
            </a>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="#">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="ant-design:close-outlined"></span> Close Register
                </p>
            </a>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="#">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="fluent:payment-16-filled"></span> Paying/Payouts
                </p>
            </a>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="#">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="ic:baseline-tips-and-updates"></span> Tips
                </p>
            </a>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="#">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="ci:settings-filled"></span> Settings
                </p>
            </a>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="#">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="si-glyph:arrow-reload"></span> Synchronize
                </p>
            </a>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="{% url "admin-home" shopId.id %}">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="bx:bxs-dashboard"></span> Back Office
                </p>
            </a>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="#">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="bi:question-diamond-fill"></span> Help
                </p>
            </a>
        </div>

        <div class="py-2 border-bottom border-muted">
            <a href="#">
                <p class="text-white px-3 fs-5 fw-bold d-flex align-items-center">
                    <span class="iconify me-2" data-icon="icomoon-free:exit"></span> Logout
                </p>
            </a>
        </div>

       
    </section>
    {% comment %} Restaurant sidebar bottom section ends {% endcomment %}
</div>